header {
    background-image: url('/images/carbon_fibre.png');
}
.logo {
    width: 8em;
    margin: 2em;
    border-radius: 10px;
}

.logo:hover {
    transform: scale(1.2);
}

.titulo {
    font-size: 2em;
    font-weight: bold;
    color: #E6E6FA;
}

.titulo:hover {
    color: #c0baba;
    cursor: pointer;
}

.navbar {
    background-image: url('/images/carbon_fibre.png');
}

nav {
    position: absolute;
    top: 35%;
    right: 5%;
    padding: 0.2em;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav NavLink {
    color: #FFFFFF;
    margin: 0.3em;
}

/* Medias query */
@media only screen and (max-width: 600px) {
    .logo {
        width: 200px;
        display: block;
        margin: 2em auto;
    }
    .titulo {
        display: block;
        font-size: 3em;
        text-align: center;
    }
    nav NavLink {
    font-size: 1em;
    }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .logo {
        width: 260px;
        display: block;
        margin: 2em auto;
    }
    .titulo {
        display: block;
        font-size: 3.5em;
        text-align: center;
    }
    nav NavLink {
    font-size: 1em; 
}
}
